<header>
  <div class="fixed-title inner">
    <h1 class="header-name">Josh King</h1>
    <h2 class="header-subtitle">CODER.</h2><h2 class="header-subtitle">DEVELOPER.</h2><h2 class="header-subtitle">TECHNOLOGY ENTHUSIAST.</h2>
    <ul class="social">
      <li><a href="https://www.linkedin.com/in/josh-king-51757a130/" title="Linkdin" class="s1"><i class="fab fa-linkedin"></i></a></li>
      <li><a href="https://github.com/josh5k" title="Github" class="s2"><i class="fab fa-github"></i></a></li>
    </ul>
  </div>
</header>
