<div class="about">
  <div class="title">
    <h2>About Me</h2>
    <h4>Full Stack Application Developer</h4>
  </div>
  <hr>
  <div class="description">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium adipisci magnam, omnis doloremque, deserunt at est harum nemo fugiat suscipit unde repudiandae a itaque distinctio autem voluptate doloribus illo nulla. Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro modi excepturi numquam facilis in. Reiciendis laudantium saepe cum tempora pariatur tempore optio vitae consequatur quibusdam impedit alias quas, nam doloremque!</p>
  </div>
  <div class="buttons">
    <button>Contact Me</button>
    <button>Download Resume <i class="fa fa-download"></i> </button>
  </div>
</div>