<div class="about">
  <div class="title">
    <h2>Professional Life</h2>
  </div>
  <hr>
  <div class="description">
    <p>Technology enthusiast with a flair to fabricate creative solutions. Experience working with clients to develop and deploy webapps, analytics dashboards and real time game servers.</p>
  </div>
  <div class="buttons">
    <a href="mailto:josh.st.king@gmail.com"><button>Contact Me</button></a>
    <a href="https://docs.google.com/document/d/1CuLm-JHNnoShJyLndZNvW-04OFSfDIVxQskkCEn3k1Q/export?format=doc" download><button>Download Resume <i class="fa fa-download"></i> </button></a>
  </div>
</div>
