.work-meta {
  margin-bottom: 50px;
  margin-top: 50px;
  h3 {
    text-align: center;
  }
}

.exp-desc {
  font-size: 1.7em;
}

.bg-image {
  background-image: url("https://img.freepik.com/free-photo/blue-cyber-circuit-future-technology-concept-background_42077-1985.jpg?size=626&ext=jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin-top: 50px;
}

.card {
  margin-bottom: 10px;
}