.work-meta {
  margin-bottom: 50px;
  margin-top: 50px;
  h3 {
    text-align: center;
  }
}

.exp-desc {
  font-size: 1.7em;
}

.container {
  margin-top: 50px;
}

.card {
  margin-bottom: 10px;
}

.work {
  background-color: #343333;
  color: white;
}

.card-header {
  border-bottom: 2px solid #e65650;
}

.card-subtitle {
  color: #e65650 !important;
}

.sect-gap {
  margin-bottom: 50px;
}

.card-text {
  em {
    color: #e65650;
  }
}