<div class="sect-gap grey">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h2>Work Experience</h2>
        </div>
        <hr>
      </div>
      <div class="col-md-12">
        <div class="work-list">
          <div class="work card" *ngFor="let job of JOBS">
            <div class="card-header bg-transparent">{{job.title}}</div>
            <div class="work-meta card-body">
              <div class="bg-image"></div>
              <h5 class="card-title">{{job.name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{job.date}}</h6>
              <p class="card-text" [innerHTML]=job.description></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
