<div class="skills-title">
  <h1>Skills & Technologies</h1>
  <p>Code examples can be found on my github and Live Demo's in the repositories README</p>
</div>
<div class="skills">

  <div class="item">
    <i class="fab fa-html5 skill-icon fa-7x"></i>
    <h5 class="tech-title">HTML</h5>
  </div>
  <div class="item">
    <i class="fab fa-sass skill-icon fa-7x"></i>
    <h5 class="tech-title">SCSS</h5>
  </div>
  <div class="item">
    <i class="fab fa-react skill-icon fa-7x"></i>
    <h5 class="tech-title">React</h5>
  </div>
  <div class="item">
    <i class="fab fa-angular skill-icon fa-7x"></i>
    <h5 class="tech-title">Angular</h5>
  </div>
  <div class="item">
    <i class="fas fa-desktop skill-icon fa-7x"></i>
    <h5 class="tech-title">ASP.NET</h5>
  </div>
  <div class="item">
    <i class="fas fa-gem skill-icon fa-7x"></i>
    <h5 class="tech-title">Ruby on Rails</h5>
  </div>
  <div class="item">
    <i class="fab fa-php skill-icon fa-7x"></i>
    <h5 class="tech-title">PHP</h5>
  </div>
  <div class="item">
    <i class="fas fa-database skill-icon fa-7x"></i>
    <h5 class="tech-title">MySQL</h5>
  </div>
  <div class="item">
    <i class="fab fa-github skill-icon fa-7x"></i>
    <h5 class="tech-title">Git</h5>
  </div>
  <div class="item">
    <i class="fab fa-aws skill-icon fa-7x"></i>
    <h5 class="tech-title">Amazon Web Service</h5>
  </div>
  <div class="item">
    <i class="fab fa-linux skill-icon fa-7x"></i>
    <h5 class="tech-title">Linux Administration</h5>
  </div>
  <div class="item">
    <i class="fab fa-android skill-icon fa-7x"></i>
    <h5 class="tech-title">Android Development</h5>
  </div>
  <div class="item">
    <i class="fab fa-python skill-icon fa-7x"></i>
    <h5 class="tech-title">Python</h5>
  </div>
  <div class="item">
    <i class="fab fa-npm skill-icon fa-7x"></i>
    <h5 class="tech-title">Node Package Manager</h5>
  </div>
  <div class="item">
    <i class="fas fa-coffee skill-icon fa-7x"></i>
    <h5 class="tech-title">CoffeeScript</h5>
  </div>
</div>
