.skills-title {
  text-align: center;
  h1 {
    font-size: 2vw;
}
  p {
    font-size: 1vw;
  }
}

.item {
  background-color: #343333;
  border-left: 5px solid #e65650;
  margin-bottom: 20px;
  text-align: center;
  color: whitesmoke;
  position: relative;

  &:hover {
    margin-top: -5px;
  }

  h5 {
    padding: 10%;
  }
}

.skill-icon {
  display: inline-block;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.item:nth-child(even) {
  background-color: #ccc;
  color: #000;
}

.skills {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(50px, 1fr);

}

@media only screen and (max-width: 800px) {
  .skills {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media only screen and (max-width: 1600px) {
  .fa-7x {
    font-size: 35px;
  }

  .tech-title {
    font-size: 15px;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 1350px) {

  .fa-7x {
    font-size: 30px;
  }

  .tech-title {
    font-size: 10px;
  }
}

@media only screen and (max-width: 850px) {

  .fa-7x {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .fa-7x {
    font-size: 25px;
  }

  .tech-title {
    font-size: 8px;
  }
}